.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.font-manrope {
  font-family: 'Manrope', sans-serif;
}
.font-abril {
  font-family: 'Abril Fatface', sans-serif;
}
.font-play {
  font-family: 'Play', sans-serif;
}
.font-sanspro {
  font-family: 'Encode Sans SC', sans-serif;
}
.font-poppins {
  font-family: 'Poppins';
}
.heading-web{
  font-size: 215px;
}
.text-merah{
  color: #E5194A;
}
.bg-merah{
  background-color: #E5194A;
}
.text-biru{
  color: #0345B6;
}
.bg-biru{
  background-color: #0345B6;
}
.border-biru{
  border-color: #0345B6;
}
/* 008080 */
.bg-hijau{
  background-color: #06b34e;
}
.bg-hijau-100{
  background-color: #57e793;
}
.bg-kuning{
  background-color: #dad728;
}
.bg-biru-100{
  background-color: #2a78fd;
}

