.font-ubuntu {
  font-family: 'Ubuntu', sans-serif;
}
.font-manrope {
  font-family: 'Manrope', sans-serif;
}
.font-abril {
  font-family: 'Abril Fatface', sans-serif;
}
.font-play {
  font-family: 'Play', sans-serif;
}
.font-sanspro {
  font-family: 'Encode Sans SC', sans-serif;
}
.font-poppins {
  font-family: 'Poppins';
}
.heading-web{
  font-size: 215px;
}

